* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#home {
    position: relative;
    background-image: url('/miit.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}

.home-header {
    font-size: 55px;
    color: white;
    text-shadow: 1px 1px 10px blue;
    letter-spacing: 2px;
    word-spacing: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}